body {
    margin: 0px;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 4em;
}

#chartcontainer{
    grid-column: span 2 / auto;
}

#optionscontainer{
    grid-column: span 3 / auto;
    display: grid;
    grid-gap: 2em;
    align-content: flex-start;
    justify-items: center;
}

.optionelement{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-gap: 5px;
}

.tooltip{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    align-content: center;
    justify-items: center;
}

.tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 0.75em;
    padding: 0.75em;
    
    position: absolute;
    font-size: 0.75em;
    width: 300px;
    margin-left: -100px;
    margin-top: -90px;
}

@media only screen and (max-width: 600px) {
    #chartcontainer {
        order: 1;
        grid-column: span 3;
        display: grid;
        align-content: center;
    }
    #simulationcontainer {
        order: 2;
        grid-column: span 2;
    }
    #optionscontainer {
        order: 3;
        grid-column: span 1;
    }

    .tooltiptext {        
        width: 150px;
        margin-left: -200px;
        margin-top: -60px;
    }
}