body {
    margin: 0px;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 4em;
}

#chartcontainer{
    grid-column: span 2 / auto;
}

#optionscontainer{
    grid-column: span 3 / auto;
    display: grid;
    grid-gap: 2em;
    align-content: flex-start;
    justify-items: center;
}

.optionelement{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-gap: 5px;
}

.optionelement > p{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    #chartcontainer {
        order: 1;
        grid-column: span 3;
        display: grid;
        align-content: center;
    }
    #simulationcontainer {
        order: 2;
        grid-column: span 2;
    }
    #optionscontainer {
        order: 3;
        grid-column: span 1;
    }
}